{% extends "main.html" %}

{% block content %}
<div class="container">
    <h3 class="title" align=>WELCOME TO CEA SIMULATOR</h3>
    <div class="box">
        <form method="GET" action="/signup" enctype="multipart/form-data">
            <button class="btn btn-primary is-block is-info is-large is-fullwidth">Sign Up</button>
        </form>
            <form method="GET" action="/login" enctype="multipart/form-data">
        <button class="btn btn-primary is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>
{% endblock %}