{% extends 'main.html' %}
{% block content %}

<style>
    .form-group{
        height:25px;
    }
</style>

<div class="container">
    <h2 align="center">
        Welcome to the CEA tomatoes growth simulator! 
    </h2>
    <p align="center">
        Our application provides you easy way to simulate the growth of your tomatoes.
    </p>
    <h3>
        Please input your parameters
    </h3>
    <p>
        <form action="/" method="POST">
            <div class="row">
                <div class="col-md-3" >
                    <label for="CO2" class="form-label">CO2 (mg/m^2 .s)</label>
                    <input type="number" class="form-control" name="CO2" id="CO2" placeholder="234" step="any" required>
                  </div>
                  <div class="col-md-3">
                    <label for="temperature" class="form-label">temperature (Celsius)</label>
                    <input type="number" class="form-control" name="temperature" id="temperature" placeholder="23" step="any" required>
                  </div>
                  <div class="col-md-3">
                      <label for="fruit_per_truss" class="form-label">Fruit per truss</label>
                      <input type="number" class="form-control" name="fruit_per_truss" id="fruit_per_truss" placeholder="7" required>
                  </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="start_date" class="form-label">Start Date</label>
                    <input class="form-control" type="date" value="2021-01-10" name="start_date" id="start_date">
                </div>
                <div class="col-md-3">
                    <label for="end_date" class="form-label">End Date</label>
                    <input class="form-control" type="date" value="2021-11-25" name="end_date" id="end_date">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="state_name">Select States</label>
                    <select name="state_name" id="state_name" data-live-search="true" title="Select State" required>
                        {%for state_id, state_name in states_info%}
                        <option value={{state_id}}>{{state_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="county_name" class="form-label">Select county</label>
                    <select name="county_name" id="county_name" data-live-search="true" title="Select County" required>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="city_name" class="form-label">Select cities</label>
                    <select name="city_name" id="city_name" data-live-search="true" title="Select Cities" required>
                    </select>
                </div>
            </div>
            <button id="start_button" type="button" name="starbut" class="btn btn-primary">Start Simulation</button>
        </form>
    </p>
    <h2>
        Result:
    </h2>
    <p id="sim_result"></p>
    <p id="yield"></p>
</div>

<!-- loading overlay -->
<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>



<script>
    $(document).ready(function(){
        $("#state_name").selectpicker();
        $("#county_name").selectpicker();
        $("#city_name").selectpicker();
        
        function load_data(type, category_id){
            $.ajax({
                url: "/city",
                method: "POST",
                data: {type: type, category_id: category_id},
                dataType: "json",
                success: function(data){
                    var html ="";
                    if (type == "cityData"){
                        for (var count = 0; count < data.length; count++){
                            html += '<option value="' + data[count][0]+ '">' + data[count][1] + "</option>";
                        }
                    }   
                    else{
                        for (var count = 0; count < data.length; count++){
                            html += '<option value="' + data[count]+ '">' + data[count] + "</option>";
                        }
                    }
                    if (type == "stateData"){
                        $("#state_name").html(html);
                        $("#state_name").selectpicker("refresh");
                    } else if (type == "countyData"){
                        $("#county_name").html(html);
                        $("#county_name").selectpicker("refresh");
                    } else{
                        $("#city_name").html(html);
                        $("#city_name").selectpicker("refresh");
                    }
                },
            });
        }

        $(document).on("change", "#state_name", function(){
            var category_id = $("#state_name").val();
            load_data("countyData", category_id);
        });

        $(document).on("change", "#county_name", function(){
            var state_id = $("#state_name").val();
            var county_id = $("#county_name").val();
            var city_info = [state_id, county_id];
            load_data("cityData", city_info);
        });

        $("#start_button").click(function(e) {
            e.preventDefault();
            var from_date = $("#start_date").val();
            var to_date = $("#end_date").val();
            if (!$('#temperature').val() || !$('#CO2').val() || !$('#fruit_per_truss').val() || !$('#state_name').val() || !$('#county_name').val() || !$('#city_name').val() || !$('#start_date').val() || !$('#end_date').val())  {
                alert('Empty value!');
                return
            }
            if(Date.parse(from_date) > Date.parse(to_date)){
                alert("Invalid Date Range");
                return
            }
            $("#overlay").fadeIn(300);
            $.ajax({
                type: "POST",
                url: "/",
                dataType: "json",
                data: { 
                    temperature: $("#temperature").val(),
                    CO2: $("#CO2").val(),
                    fruit_per_truss: $("#fruit_per_truss").val(),
                    city_id: $("#city_name").val(),
                    start_date: $("#start_date").val(),
                    end_date: $("#end_date").val()
                },
                success: function(result) {
                    var html_location="City location: lat:" + result['latitude'].toFixed(2) + " lon:" + result['longitude'].toFixed(2);
                    var html_yield = "\ntotal yield: " + (result['total_yield'] / 1000).toFixed(3)+ " kg/m<sup>2</sup>"

                    $("#sim_result").html(html_location);
                    $("#yield").html(html_yield);
                    $("#overlay").fadeOut(50);
                },
                error: function(result) {
                    alert("The inputs are invalid or the location is not avaliable. Pleasse try different settings");
                    $("#overlay").fadeOut(50);
                }
            })
        });
      
    });

</script>

{% endblock %}