{% extends "main.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Signup</h3>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<br><br>
    <div class="box">
        <form method="POST" action="/login" enctype="multipart/form-data">
            <div class="field">
                <div class="control">
                    Username: <input class="input is-large" type="text" name="username" placeholder="Username" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    Password: <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            
            <button class="button is-block is-info is-large is-fullwidth">Sign in</button>
        </form>
    </div>
</div>
{% endblock %}