{% extends "main.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<br><br>
<div class="container">
    <h3 class="title">Login</h3>
    <form method="POST" action="/login" enctype="multipart/form-data">
        <div class="form-group col-md-4">
            <label for="inputUsername">Username</label>
            <input class="form-control input is-large" type="text" name="username" placeholder="Username" autofocus="">
        </div>
    
        <div class="form-group col-md-4">
            <label for="inputUsername">Password</label>
            <input class="form-control input is-large" type="password" name="password" placeholder="Your Password">
        </div>
        
        <button class="btn btn-primary is-block is-info is-large is-fullwidth">Login</button>
    </form>
</div>

{% endblock %}