{% extends "main.html" %}

{% block content %}
<div class="container">
    <h3 class="title">Signup</h3>
    <form method="POST" action="/signup" enctype="multipart/form-data">
        <div class="form-group col-md-4">
            <label for="inputUsername">User name</label>
            <input class="form-control input is-large" type="text" name="username" placeholder="Username" autofocus="">
        </div>
        <div class="form-group col-md-4">
            <label for="inputFullname">Full name</label>
            <input class="form-control input is-large" type="text" name="name" placeholder="Your Name">
        </div>
        <div class="form-group col-md-4">
            <label for="inputPassword">Password</label>
            <input class="form-control input is-large" type="password" name="password" placeholder="Your Password">
        </div>

        <div class="form-group col-md-4">
            <label for="inputFile">Upload profile picture</label>
            <input class="input is-large" type="file" name="file">
        </div>
        
        <button class="btn btn-primary is-block is-info is-large is-fullwidth">Sign in</button>
    </form>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}